// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upvote, .downvote, .post-header, .post-content, .links-line, .votes, h1 {
    text-align: center
}

.post-header {
    color: blue;
}

.post-content {
    color: gray;
}


.posts-table {
    margin-left: auto;
    margin-right: auto;
}
